.paymentsList {
    margin-top: 20px;
  }
  
  .paymentsList h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .paymentsList ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .paymentsList img {
    max-width: 10rem;
    max-height: 10rem;
    width: auto;
    height: auto;
    object-fit: cover;
  }
  .paymentsList li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 10px 10px 0;
    width: calc(33.33% - 20px); /* Three payments in a row with some spacing */
    box-sizing: border-box;
  }
  
  .paymentsList p {
    margin: 5px 0;
  }
  
  /* Add more styles as needed */
  /* Update with your actual stylesheet path */
/* Add this style to your existing stylesheet or create a new one */

.tbody-style {
  color: white;
}

.tbody-style td {
  padding: 10px; /* Adjust as needed */
}

.tbody-style .link-cell {
  /* Style for the cell containing the link */
  /* Add any additional styles you need */
}

/* PaymentsList.module.css */

/* PaymentsList.module.css */

.linkCell {
  color: blue;
  text-decoration: double; /* Set text-decoration to 'none' initially */
  font-weight: bold;
}

.linkCell:hover {
  text-decoration: underline; /* Apply underline on hover */
}

.linkCell:visited {
  color: yellow;
  font-weight: bold;
}
